# Exclude all files that are not recipes
/Apps/*
/BuildSpace/*
/Icons/*
/Recipes/Incomplete
/Scripts/*
/Temp/*
/Tools/*

# Exclude any files that might contain sensitive data
/Recipes/sccmclient.yaml
/Preferences.yaml

# Exclude miscellaneous editor files
/.vscode
/.DS_Store

# Exclude .gitignore
/.gitignore