# Exclude all files that are not recipes
/Apps/*
/BuildSpace/*
/Icons/*
/Recipes/Incomplete
/Scripts/*
/Temp/*
/Tools/*

# Keep any empty directories
!/Apps/.gitkeep
!/BuildSpace/.gitkeep
!/Icons/.gitkeep
!/Scripts/.gitkeep
!/Scripts/AdobeDownloader.psm1
!/Scripts/YardstickSupport.psm1
!/Temp/.gitkeep
!/Tools/.gitkeep

# Exclude any files that might contain sensitive data
/Preferences.yaml
/Recipes/*.common.yaml
/Recipes/crowdstrikefalcon.yaml

# Exclude development files
/Yardstick_backup.ps1
/Recipes/verniergraphicalanalysis.yaml
/Recipes/Disabled/*
/.github/*

# Exclude miscellaneous editor files
/.vscode
/.DS_Store

# Exclude log
/*.log

# Exclude anything in the secrets folder
/Secrets/*